.topbar .top-navbar .navbar-header .navbar-brand {
    height: 70px;
}

.topbar .top-navbar .navbar-header .navbar-brand img {
    height: 50px;
}

.box-upload {
    padding: 1.5em 0.5em 0.5em 0.5em;
    border: 1px solid #eee;
    border-radius: 6px;
    position: relative;
}
.box-upload span.sp-upload {
    position: absolute;
    top: -13px;
    background: #fff;
    padding: 0 30px 0 0px;
}
.box-upload input[type="file"] {
    display: none;
}
.box-upload .box-slide {
    text-align: center;
    display: block;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
}
.box-upload .box-slide img {
    max-inline-size: 100%;
    display: block;
    max-block-size: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
.box-upload .box-slide img.imgUpload {
    height: 110px;
    background: #ccc;
}
.box-upload .box-slide label {
    font-size: 2.5rem;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
}
.box-upload .box-rm {
    color: #e83e8c;
    cursor: pointer;
    display: block;
}
.box-upload .box-bt {
    display: block;
    text-align: center;
    color: #009da0;
}


.part_image {
    display: flex;
    justify-content: center;
}

.part_image img {
    width: 120px;
}

.table_partner-custom tr td {
    vertical-align: middle;
}

.table-news .image-thumbnail {
    height: 90px;
}